
html{
    font-size: 62.5%;
}

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  width: 100vw;
  min-height: 100vh;
}

.contentContainer{
  width: 100%;
  height: 100%;
}

#mapId {
    height: 100vh;
}

  /*MAP*/
.map{
  width: 100vw;
  height: 90vh;
}

.contentContainer__header{
  height: 7vh;
  background-color: #c70000;
}

.contentContainer__header__h1{
  size: 3rem;
  padding: 1.5rem;
  color: #f2f0eb;
}

.contentContainer__footer{
  height: 3vh;
  background-color: #c70000;
  color: #f2f0eb;
  text-align: center;
  padding: 0.5rem;
}

button{
  display: inline-block;
  padding: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  font-weight: 600;
}

.button__alle{
  background-color: whitesmoke;
  border-color: whitesmoke;
}

.button__groen{
  background-color: #599130;
  border-color: #599130;
}

.button__rood{
  background-color: red;
  border-color: red;
}

.button__blauw{
  background-color: blue;
  border-color: blue;
}

.button__geel{
  background-color: yellow;
  border-color: yellow;
}
